[Desktop Entry]
Version=1.0
Name=ALSC
Comment=This program was developed to facilitate maintenance and cleaning of Linux systems.
Exec=sudo -E env XDG_RUNTIME_DIR=/tmp/runtime-root python3 /usr/bin/alsc.py
Icon=/usr/share/icons/hicolor/48x48/apps/alsclo.png
Terminal=true
Type=Application
Categories=Utility;

Name[tr_TR]=ALSC
